:root {
  --sk-color: #1a73e8;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Microsoft YaHei New", "Microsoft Yahei", 微软雅黑, 宋体, SimSun, STXihei, 华文细黑, sans-serif;
}

header {
  height: 100px;
}

.content {
  position: fixed;
  top: 0;
  padding-top: 90px;
  height: 100%;
  width: 100%;
}

.form {
  padding: 0 20px;
}

.form-control {
  width: 250px;
}

.new {
  outline: 0;
  background-color: #eaf5fd;
}

li>span, #list {
  outline: 0;
  display: inline-block;
  min-width: 1px;
}

.icon {
  font-family: "Material Icons";
  font-style: normal;
  font-size: 1.5rem;
  padding: 12px;
  line-height: normal;
  color: #5f6368;
  cursor: pointer;
  height: fit-content;
}

.delete:hover {
  color: #d93025;
}

.list-group-item {
  padding: 0;
}

.list-group-flush>.list-group-item:first-child {
  border-top-width: 1px;
}

.list-group-flush>.list-group-item:last-child {
  border-bottom-width: 1px;
}

.list-group-item:hover {
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  outline: 0;
  z-index: 2000;
}

.task {
  padding: 0.75rem 0;
  width: calc(100% - 176px);
}

.selected {
  cursor: text;
  border-bottom-width: 1px;
  border-color: #1a73e8;
  background-color: #eaf5fd;
}

.selected:hover {
  box-shadow: none;
}

.swal {
  margin: 8px 6px;
}

.sortable-ghost {
  opacity: 0;
}

@media (max-width: 900px) {
  .content {
    padding-left: 0 !important;
  }
}
